@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1783913734639') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fhdpc_px_pinduoduo:before {
  content: "\e601";
}

.icon-douyin:before {
  content: "\e602";
}

.icon-taobao:before {
  content: "\eb7e";
}

